<h1> Welcome, <%=@user.username%> </h1>
<h2> Your remaining credits: $<%=@user.money%> </h2>
<% if !@user.showings.empty? %>
<%@user.showings.each do |t|%>
<%=t.title%> at <%=t.time%>
  <%end%>
<%end%>
<%=link_to "Click Here To Buy Tickets", new_user_showing_path(@user)%>
