<h1> Welcome, <%=@user.username%> </h1>
<h2> Your remaining credits: $<%=@user.money%> </h2>
<h3> Your Tickets: </h3>
<% if !@user.showings.empty? %>
<%@user.showings.each do |t|%>
<div>
<%=t.title%> (<%=t.rating%>)<br>
<%=t.showtime%><br>
  <form method="post" action="/refund">
    <input type="hidden" name="ticket_id" value="<%=Ticket.find_by(showing_id: t.id).id%>">
    <input type="hidden" name="authenticity_token" id="authenticity_token" value="ANYTHING">
    <input type="submit" value="Cancel">
  </form>
</div><br>
  <%end%>
<%end%>
<%=link_to "Click Here To Buy Tickets", new_user_showing_path(@user)%><br><br>



<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
  <% elsif flash[:notice]  %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
