<h1>Please Fill In the Fields Below:</h1>

<% if @user.errors.any? %>
  <h3><%= flash[:error] %></h3>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
  <% end %>
<% end %>



<%=form_for(@user) do |f|%>
<%=f.text_field :username, placeholder: "Username"%><br>
<%=f.password_field :password, placeholder: "Password"%><br>
<%=f.password_field :password_confirmation, placeholder: "Confirm Password"%><br>
<%=f.email_field :email, placeholder: "Email"%><br>
<%=f.text_field :age, placeholder: "Age"%><br>
<%=f.submit "Sign Up"%>
<%end%>
