<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
  <a class="active" href="/">Home</a>
  <%if session[:user_id].nil?%>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <%else%>
    <a href="/logout">Log Out</a>
    <%=link_to "Your Showings", user_showings_path(User.find(session[:user_id]))%>
    <%end%>

</div>
<footer class="top">★Current Top User★: <%=User.find(Ticket.topuser).username%></footer><br><br>
    <%= yield %>
  </body>
</html>
