<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
  <a class="active" href="/">Home</a>
  <%if session[:user_id].nil?%>
    <a href="/login">Log In</a>
    <%else%>
    <a href="/logout">Log Out</a>
    <%end%>
  <a href="/showings">Showings</a>
  <a href="/signup">Sign Up</a>
</div>
    <%= yield %>
  </body>
</html>
